---
import FiltrosHistoriaOral from '@/componentes/FiltrosHistoriaOral.astro';
import TituloPagina from '@/componentes/TituloPagina.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import type { Categorias } from '@/tipos';
import { gql, pedirDatos } from '@/utilidades/ayudas';

const categoria = 'Categoría';
export async function getStaticPaths() {
  const Categorias = gql`
    query {
      categories(where: { hideEmpty: true }, first: 200) {
        nodes {
          name
          slug
        }
      }
    }
  `;
  const { categories } = await pedirDatos<Categorias>(Categorias);

  return categories.nodes.map(({ slug }) => {
    return { params: { slug } };
  });
}

const { slug } = Astro.params;

const Categoria = gql`
  query {
    category(id: "${slug}", idType: SLUG) {
      name
    }
  }
`;

const { category } = await pedirDatos<{ category: { name: string } }>(Categoria);
---

<Plantilla titulo={category.name} descripcion={categoria}>
  <main class="paginaCategorias">
    <aside id="columnaOscura">
      <TituloPagina titulo="Historia Oral" slug="historia-oral" modo="oscuro" />
      <FiltrosHistoriaOral />
    </aside>

    <div class="contenido">
      <h1>{category.name}</h1>
    </div>
  </main>
</Plantilla>

<style lang="scss">
  .paginaCategorias {
    display: flex;
  }

  .contenido {
    padding: 1em 2em 5em 2em;
  }
</style>
