---
import { listaCategorias } from '@/cerebros/general';
import Plantilla from '@/plantillas/Plantilla.astro';

const categorias = await listaCategorias();
---

<Plantilla
  titulo="Categorías"
  descripcion="Categorías de la Historia del Internet"
  imagen="/imgs/og-EnFlujo-predeterminado.jpg"
>
  <main class="categorias">
    <h1><span class="fuenteIconos">q</span>Categorías</h1>
    <aside id="columnaOscura">
      <div id="filtros" class="textoPixelitos">
        <div id="filtroCategorias">
          <ul>
            {
              categorias.map((categoria) => (
                <li data-slug={categoria.slug}>
                  {categoria.name}

                  {categoria.children.nodes.length > 0 && (
                    <ul>
                      {categoria.children.nodes.map((subcategoria) => (
                        <li data-slug={subcategoria.slug}>{subcategoria.name}</li>
                      ))}
                    </ul>
                  )}
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </aside>
  </main>
</Plantilla>
