.boton {
  background: var(--superficieClaro);
  font-family: var(--fuentePixeles);
  padding: 0.5em 1.3em;
  color: var(--colorTexto);
  border: 4px solid var(--bordePrimario);
  // border-bottom: 4px solid #a43dab;
  // box-shadow: 0px 0px 0px 0px var(--bordeOscuro) inset;
  cursor: pointer;

  &:active {
    background: var(--superficieOscura);
    box-shadow: 4px 4px 0px 0px var(--bordeOscuro) inset;
    border: 4px solid var(--bordePrimario);
    color: var(--textoInvertido);
  }
}
