.boton {
  background: var(--superficieClaro);
  font-family: var(--fuentePixeles);
  padding: 0.5em 1.3em;
  color: var(--colorTexto);
  border-right: 4px solid var(--bordeOscuro);
  border-bottom: 4px solid var(--bordeOscuro);
  background: var(--superficieClaro);
  box-shadow: 2px 2px 0px 0px var(--bordePrimario) inset;
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;

  &:active,
  &.activo {
    border-right: 4px solid var(--bordeOscuro);
    border-bottom: 4px solid var(--bordeOscuro);
    background: var(--superficieOscura);
    box-shadow: 4px 4px 0px 0px #0e074a inset;
    color: var(--textoInvertido);
  }
}
