:root {
  --superficiesPriamario: #f2edff;
  --colorTexto: #27206c;
  --fuenteTitulos: 'Tourney', sans-serif;
  --fuentePixeles: 'Pixelify Sans', sans-serif;
  --fuenteIconos: 'Yarndings 12', system-ui;
  --fuenteTexto: 'Chivo Mono', monospace;
  --morado: #cb41d4;
  --lila: #f2edff;
}
