:root {
  --fuenteTitulos: 'Tourney', sans-serif;
  --fuenteIconos: 'Yarndings 12', system-ui;
  --fuenteTexto: 'Chivo Mono', monospace;
  --fuenteTextos2: 'Neuton', serif;
  --crema: #f0f4f5;
  --cobalto: #203f54;
  --blanco: #ffffff;
  --azulOscuro: #203f54;
  --rojo: #f21d44;
  --negro: #000000;
  --azulMuyOscuro: #0e074a;
  --colorTexto: var(--cobalto);
  --textoInvertido: var(--crema);
  --superficiePrimario: var(--crema);
  --superficieClaro: var(--blanco);
  --superficieOscura: var(--cobalto);
  --bordePrimario: var(--rojo);
  --bordeClaro: var(var(--blanco));
  --bordeOscuro: var(--azulOscuro);
  --bordeNegro: var(--negro);
  --bordeMuyOsucro: var(--azulMuyOscuro);
  --amarillo: #f0e623;
  --colorEnlace: #2b94da;
}
