:root {
  --fuenteTitulos: 'Tourney', sans-serif;
  --fuenteIconos: 'Yarndings 12', system-ui;
  --fuenteTexto: 'Chivo Mono', monospace;
  --fuenteTextos2: 'Neuton', serif;
  --crema: #f0f4f5;
  --gris: #e7ebec;
  --cobalto: #203f54;
  --blanco: #ffffff;
  --azulOscuro: #203f54;
  --rojo: #f21d44;
  --negro: #000000;
  --azulMuyOscuro: #0e074a;
  --colorTexto: var(--cobalto);
  --textoInvertido: var(--crema);
  --superficiePrimario: var(--crema);
  --superficieClaro: var(--blanco);
  --superficieOscura: var(--cobalto);
  --superficieGuardaescobas: var(--gris);
  --bordePrimario: var(--rojo);
  --bordeClaro: var(var(--blanco));
  --bordeOscuro: var(--azulOscuro);
  --bordeNegro: var(--negro);
  --bordeMuyOsucro: var(--azulMuyOscuro);
  --amarillo: #f0e623;
  --colorEnlace: #2b94da;
  --categoria1: #fd7f6f;
  --categoria2: #7eb0d5;
  --categoria3: #b2e061;
  --categoria4: #bd7ebe;
  --categoria5: #ffb55a;
  --categoria6: #ffee65;
  --categoria7: #beb9db;
  --categoria8: #fdcce5;
  --categoria9: #8bd3c7;
}
