@use './variables' as *;
@use './componentes' as *;
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Tourney:ital,wght@0,100..900;1,100..900&family=Yarndings+12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

::selection {
  background-color: #30cac073;
  color: #130808;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--superficiePrimario);
  color: var(--colorTexto);
}

body {
  font-family: var(--fuenteTexto);
}

h1 {
  font-size: 1.6em;
}

a,
a:link {
  text-decoration: none;
}

.titulo {
  font-family: var(--fuenteTitulos);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-variation-settings: 'wdth' 100;
}

.subtitulo {
  font-family: var(--fuenteTitulos);
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.textoPixelitos {
  font-family: var(--fuenteTextos2);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.fuenteIconos {
  font-family: var(--fuenteIconos);
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

#columnaOscura {
  width: 20vw;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--colorTexto);
  color: var(--blanco);
}

.personaTiempo {
  font-weight: bold;
  color: var(--rojo);
}
