@use './variables' as *;
@use './componentes' as *;
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Tourney:ital,wght@0,100..900;1,100..900&family=Yarndings+12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

$anchoMenuIzquierdo: 300px;

::selection {
  background-color: #30cac073;
  color: #130808;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--superficiePrimario);
  color: var(--colorTexto);
}

body {
  font-family: var(--fuenteTexto);
}

h1 {
  font-size: 1.6em;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: var(--colorEnlace);

  &:hover {
    text-decoration: underline;
  }
}

.titulo {
  font-family: var(--fuenteTitulos);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-variation-settings: 'wdth' 100;
}

.subtitulo {
  font-family: var(--fuenteTitulos);
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.textoPixelitos {
  font-family: var(--fuenteTexto);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.fuenteIconos {
  font-family: var(--fuenteIconos);
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

.personaTiempo {
  font-weight: bold;
  color: var(--rojo);
}

.terminoGlosario,
.terminoGlosario:link {
  font-weight: bold;

  &:hover {
    border-bottom: 2px solid var(--colorEnlace);
    text-decoration: none;
  }
}

.paginaConMenuIzquierdo {
  display: flex;
  justify-content: flex-end;

  .menuIzquierdo {
    width: $anchoMenuIzquierdo;
    height: 100vh;
    overflow-y: auto;
    background-color: var(--colorTexto);
    color: var(--blanco);
    position: fixed;
    left: 0;
  }

  .col2 {
    width: calc(100vw - $anchoMenuIzquierdo);
    padding: 2em;
  }
}

.titulo2 {
  margin: 0;
}

.fondoCategoria {
  box-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.9);
}

.fondoCategoria1 {
  background-color: var(--categoria1);
}

.fondoCategoria2 {
  background-color: var(--categoria2);
}

.fondoCategoria3 {
  background-color: var(--categoria3);
}

.fondoCategoria4 {
  background-color: var(--categoria4);
}

.fondoCategoria5 {
  background-color: var(--categoria5);
}

.fondoCategoria6 {
  background-color: var(--categoria6);
}

.fondoCategoria7 {
  background-color: var(--categoria7);
}

.fondoCategoria8 {
  background-color: var(--categoria8);
}

.fondoCategoria9 {
  background-color: var(--categoria9);
}

.iconoCategoria::before {
  content: '';
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  box-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.9);
  display: inline-block;
}

.iconoCategoria1::before {
  background-color: var(--categoria1);
}

.iconoCategoria2::before {
  background-color: var(--categoria2);
}

.iconoCategoria3::before {
  background-color: var(--categoria3);
}

.iconoCategoria4::before {
  background-color: var(--categoria4);
}

.iconoCategoria5::before {
  background-color: var(--categoria5);
}

.iconoCategoria6::before {
  background-color: var(--categoria6);
}

.iconoCategoria7::before {
  background-color: var(--categoria7);
}

.iconoCategoria8::before {
  background-color: var(--categoria8);
}

.iconoCategoria9::before {
  background-color: var(--categoria9);
}

.bordeCategoria {
  border-color: var(--superficieOscura);
  border: 3px solid;
  box-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.9);
}

.bordeCategoria1 {
  border-color: var(--categoria1);
}

.bordeCategoria2 {
  border-color: var(--categoria2);
}

.bordeCategoria3 {
  border-color: var(--categoria3);
}

.bordeCategoria4 {
  border-color: var(--categoria4);
}

.bordeCategoria5 {
  border-color: var(--categoria5);
}

.bordeCategoria6 {
  border-color: var(--categoria6);
}

.bordeCategoria7 {
  border-color: var(--categoria7);
}

.bordeCategoria8 {
  border-color: var(--categoria8);
}

.bordeCategoria9 {
  border-color: var(--categoria9);
}
