---
import Plantilla from '../plantillas/Plantilla.astro';
---

<Plantilla titulo="Línea de tiempo" descripcion="">
  <main>
    <h1 class="titulo">Historia del Internet</h1>
    <span class="boton">¡Botón!</span>
  </main>
</Plantilla>

<style lang="scss"></style>
