---
import Plantilla from '../plantillas/Plantilla.astro';
import { esquemaPagina, gql, pedirDatos } from '../utilidades/ayudas';
import type { Pagina } from '@/tipos';

const PeticionPagina = gql`
  query {
    ${esquemaPagina('inicio')}
  }
`;

const { page } = await pedirDatos<{ page: Pagina }>(PeticionPagina);
---

<Plantilla titulo="" descripcion={page.descripcion}>
  <main class="inicio"></main>
</Plantilla>

<script></script>

<style lang="scss"></style>
