---
import Plantilla from '../plantillas/Plantilla.astro';
import { esquemaPagina, gql, pedirDatos } from '../utilidades/ayudas';
import type { Pagina } from '@/tipos';

const PeticionPagina = gql`
  query {
    ${esquemaPagina('inicio')}
  }
`;

const { page } = await pedirDatos<{ page: Pagina }>(PeticionPagina);
---

<Plantilla titulo="" descripcion={page.descripcion}>
  <main class="inicio">
    <h1>Historia del internet en Colombia</h1>

    <div class="contenedorEnlaces">
      <div class="boton">
        <a href="/enflujo-historia-internet/linea-de-tiempo/" class="link">Linea de tiempo</a>
      </div>
      <div class="boton">
        <a href="/enflujo-historia-internet/historia-oral/" class="link">Historia Oral</a>
      </div>
      <div class="boton">
        <a href="/enflujo-historia-internet/documentos/" class="link">Documentos</a>
      </div>
      <div class="boton">
        <a href="/enflujo-historia-internet/glosario/" class="link">Glosario</a>
      </div>
    </div>
  </main>

  <style>
    .inicio {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      width: 100%;
    }

    h1 {
      font-family: var(--fuenteTitulos);
      font-size: 54px;
      margin: 20vh auto 2em auto;
    }

    .contenedorEnlaces {
      display: flex;
      justify-content: center;
      font-size: 25px;
      width: 100%;
    }

    .boton {
      display: inline;
      margin: 2vw;
    }

    a.link {
      z-index: 100;
      cursor: pointer;
    }

    .link:hover {
      text-decoration: none;
    }
  </style>
</Plantilla>
