---
import { datosPaginas } from '@/cerebros/general';

interface Props {
  titulo: string;
  slug: string;
  modo?: 'oscuro' | 'claro';
}
const { titulo, slug, modo } = Astro.props;

const datosPagina = datosPaginas.get().find((pagina) => slug === pagina.slug);
const icono = datosPagina ? datosPagina.iconoA : '1';
---

<header class={modo ? modo : 'claro'}>
  <span class="iconoPagina">{icono}</span>
  <h1 class="titulo">{titulo}</h1>
</header>

<style lang="scss">
  header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 2em;

    &.oscuro {
      color: var(--blanco);
    }
  }

  .titulo {
    font-family: var(--fuenteTexto);
    margin: 0 0 0 0.5em;
    font-weight: 500;
    line-height: normal;
  }

  .iconoPagina {
    font-family: var(--fuenteIconos);
    font-size: 32px;
  }

  @media (max-width: 600px) {
    .titulo {
      margin: 0 0 0 0.5em;
      font-size: 1.4em;
    }
  }

  @media (min-width: 601px) and (max-width: 900px) {
    .titulo {
      font-size: 1.5em;
    }
  }
</style>
