---
import { datosPaginas } from '@/cerebros/general';

interface Props {
  titulo: string;
  slug: string;
}
const { titulo, slug } = Astro.props;

const datosPagina = datosPaginas.get().find((pagina) => slug === pagina.slug);
const icono = datosPagina ? datosPagina.iconoA : '1';
---

<header>
  <span class="iconoPagina">{icono}</span>
  <h1 class="titulo">{titulo}</h1>
</header>

<style lang="scss">
  header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 3em;
  }

  .titulo {
    font-family: var(--fuenteTexto);
    margin: 0 0 0 0.5em;
    font-weight: 500;
    line-height: normal;
  }

  .iconoPagina {
    font-family: var(--fuenteIconos);
    font-size: 2.3em;
  }
</style>
