---
import type { Categoria } from '@/tipos';

interface Props {
  categorias: Categoria[];
}

const { categorias } = Astro.props as Props;
---

<div id="hola" style="width:100%; height:100%; position:relative;">
  <svg
    style="width:100%; height:100%; border:1px solid black;"
    data-categorias={JSON.stringify(categorias)}
    preserveAspectRatio="xMidYMid meet"></svg>
</div>

<script></script>
