---
import FichaPersonajes from '@/componentes/FichaPersonajes.astro';
import FiltrosHistoriaOral from '@/componentes/FiltrosHistoriaOral.astro';
import TituloPagina from '@/componentes/TituloPagina.astro';
import Transcripcion from '@/componentes/Transcripcion.astro';
import type { Pagina } from '@/tipos';

interface Props {
  pagina: Pagina;
}

const { pagina } = Astro.props;
---

<main class="historia-oral">
  <aside id="columnaOscura">
    <TituloPagina titulo={pagina.title} slug={pagina.slug} modo="oscuro" />
    <FiltrosHistoriaOral />
  </aside>

  <FichaPersonajes slug="mauricio-pinilla" />
  <Transcripcion />

  <style lang="scss">
    .historia-oral {
      display: flex;
    }
  </style>
</main>
