---
import TituloPagina from '@/componentes/TituloPagina.astro';
import type { Pagina } from '@/tipos';

interface Props {
  pagina: Pagina;
}

const { pagina } = Astro.props;
---

<main class="pagina">
  <TituloPagina titulo={pagina.title} slug={pagina.slug} />
  <div class="contenidoPagina" set:html={pagina.content} />
</main>

<style lang="scss" is:global>
  .pagina {
    .contenidoPagina {
      padding: 2em;
      margin-left: 25vw;
      margin-right: 25vw;
      display: flex;
      text-align: justify;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
    }
  }
</style>
