---
import TituloPagina from '@/componentes/TituloPagina.astro';
import type { Pagina } from '@/tipos';

interface Props {
  pagina: Pagina;
}

const { pagina } = Astro.props;
---

<main class="pagina">
  <TituloPagina titulo={pagina.title} slug={pagina.slug} />
  <div class="contenidoPagina" set:html={pagina.content} />
</main>

<style lang="scss" is:global>
  .pagina {
    .contenidoPagina {
      padding: 2em;
      margin-left: 25vw;
      margin-right: 25vw;
      display: flex;
      text-align: justify;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
    }
  }

  @media (max-width: 600px) {
    .pagina {
      .contenidoPagina {
        padding: 1.8em;
        margin-left: 15vw;
        margin-right: 15vw;
      }
    }
  }

  @media (min-width: 601px) and (max-width: 849px) {
    .pagina {
      .contenidoPagina {
        padding: 1.8em;
        margin-left: 20vw;
        margin-right: 20vw;
        display: flex;
      }
    }
  }
  @media (min-width: 850px) and (max-width: 1000px) {
    .pagina {
      .contenidoPagina {
        padding: 1.8em;
        margin-left: 22vw;
        margin-right: 22vw;
        display: flex;
      }
    }
  }
</style>
